{% extends 'base.html.twig' %}

{% block title %}
	BURNING ZONE
{% endblock %}

{% block body %}
	{##### STYLE ####}
	<style>
		{
			##### BOUTONS REDIRECTION ####
		}
		#button {
			background-color: #FFFFFF;
			color: #D5731F;
			text-align: center;
			margin-bottom: 30px;
		}
		#button:hover {
			background-color: #D5731F;
			color: #FFFFFF;
		}
		#button:active {
			background-color: #D5731F;
			color: #FFFFFF;
		}
		{
			##### TITRES ####
		}
		h2 {
			color: #D5731F;
			font-size: 25px;
			font-weight: bold;
		}
		h3 {
			font-size: 18px;
			margin-bottom: 16px;
		}
		spam {
			color: #D5731F;
		}
		{
			##### TEXTES ####
		}
		#texte {
			color: #707070;
			font-size: 12px;
		}
		{
			##### BOUTONS DIF SPORT REDIRECTION ####
		}
		#btnburningkombat,
		#btncaf,
		#btncrosstraining,
		#btnpilate,
		#btnpowerbarre,
		#btnsmallgrouptraining,
		#btnspinning,
		#btnzenworking,
		#btnzumba {
			background-color: #D5731F;
			color: #FFFFFF;
			font-size: 12px;
			margin-bottom: 10px;
			height: 65px;
			text-justify: auto;
		}

		{
			##### LES DIFFERENTS COURS ####
		}
		#burningkombat,
		#caf,
		#crosstraining,
		#pilate,
		#powerbarre,
		#smallgrouptraining,
		#spinning,
		#zenworking,
		#zumba {
			/* background-color: rgba(213, 115, 31, 0.6); */
			color: white;
			/* display: none;
			position: relative;
			top: -750px;
			left: 100px; */
		}
	</style>

	<div class="container col-12 m-0 p-0">
		<div
			class="row">

			{##### IMAGES ####}
			<div
				class="col-8" id="">
				{# <img src="{{ presentation.picture }}" alt="{{ presentation.title }}" id=""> #}
				<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
			</div>

			<div
				class="col-4">
				{##### BOUTONS ####}
				<div class="">
					<a class="btn" href="{{ url('presentation_salles') }}" role="button" id="button">Les Salles</a>
					<a class="btn" href="{{ url('presentation_coach') }}" role="button" id="button">Les Coachs</a>
					<a class="btn" href="{{ url('presentation_cours') }}" role="button" id="button">Les Cours</a>
				</div>
				{##### PARAGRAPHES ####}
				<div class="mr-4" id="texte">
					<h2 class="">BURNING ZONE</h2>
					<h3 class="">Présentation
						<spam>des Cours</spam>
					</h3>
					<p id="texte">Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id.</p>
					<p id="texte">Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.</p>
				</div>

				{##### BUTTON EN SAVOIR PLUS ####}
				<div
					class="col-12 mt-5 p-0" id="boutons">
					<!-- Button trigger modal -->
					<button type="button" class="btn col-3" id="btnburningkombat" data-toggle="modal" data-target="#burningkombat">
						Burning Kombat
					</button>
					<button type="button" class="btn col-3" id="btncaf" data-toggle="modal" data-target="#caf">
						CAF
					</button>
					<button type="button" class="btn col-3" id="btncrosstraining" data-toggle="modal" data-target="#crosstraining">
						Cross training
					</button>
					<button type="button" class="btn col-3" id="btnpilate" data-toggle="modal" data-target="#pilate">
						Pilate
					</button>
					<button type="button" class="btn col-3" id="btnzumba" data-toggle="modal" data-target="#zumba">
						Zumba
					</button>
					<button type="button" class="btn col-3" id="btnpowerbarre" data-toggle="modal" data-target="#powerbarre">
						Power Barre
					</button>
				</div>
			</div>

			{##### AFFICHAGE + INFOS COURS ####}
			<!-- Modal -->
			<div class="modal fade" id="burningkombat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>BURNING KOMBAT</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="caf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>CAF</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="crosstraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>Cross Training</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="pilate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>Pilate</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="zumba" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>Zumba</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="powerbarre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background-color: rgba(213, 115, 31, 0.7);">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<strong>Power Barre</strong>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ asset('image/photo26.jpg') }}" class="img-fluid" alt="Responsive image">
							Ut sunt dolore esse laboris occaecat duis do deserunt. Eu amet dolor eu sit voluptate elit. Qui est ex quis qui. Irure Lorem nulla mollit veniam commodo fugiat reprehenderit in duis minim ipsum. Nulla cillum consectetur incididunt tempor adipisicing elit sunt aliquip non amet aliqua. Non amet quis occaecat dolore ullamco consectetur aute ut velit non cillum laboris et. Qui non labore laborum consectetur ipsum quis Lorem amet dolore mollit proident amet id. Nostrud ad laboris esse ipsum veniam reprehenderit ad deserunt duis. Irure ex velit sit dolore mollit id minim sit do. Ea minim incididunt cupidatat incididunt ut commodo ea dolor aliqua labore cillum laborum in.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			{% block javascripts %}
				<script src="/training.js"></script>
			{% endblock %}
		{% endblock %}
