{{ form_start(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.date) }}
{{ form_row(form.coach) }}
{{ form_row(form.users) }}
<button class="btn btn-danger mb-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
