{% extends 'base.html.twig' %}

{% block title %}Mes entraînements
{% endblock %}

{% block body %}

<div class="d-flex justify-content-between mb-2">
	<a href="{{ path('home_adherent')}}" class="btn btn-danger">
		<i class="fas fa-caret-left"></i>
		Retour</a>
</div>

<h1>Mes entraînements</h1>


<table class="table table-active table-hover">
	<thead>
		<tr>
			<th scope="col">N°</th>
			<th scope="col">Cours</th>
			<th scope="col">Coach</th>
			<th scope="col">Date</th>
			{# <th scope="col">Annuler</th> #}
		</tr>
	</thead>
	<tbody>
		<tr class="table table-light">
			{% for training in app.user.trainings %}
				<td>{{ training.id }}</td>
				<td>
					<a href="{{ path('show_user_training',{id: training.id}) }}">
						<strong>{{ training.nom }}</a>
					</strong>
				</td>
				<td>
					<strong>{{ training.coach}}</strong>
				</td>
				<td>
					<strong>{{ training.date ? training.date|date('d/m/Y H:i') : '' }}</strong>
				</td>
				{# <td>
																		<a href="{{ path('training_user_delete', {'id': training.id}) }}">
																			<button type="submit" class="btn btn-info btn-sm rounded mb-2">
																				<i class="fas fa-edit"></i>
																			</button>
																		</a>
																		{# {{ include('training/_delete_form.html.twig') }}</td> #}
			</td>
		</tr>
	</tbody>
</tr></tbody>{% endfor %}</table>{# 
					<div id="paginationTraining">
				{{ knp_pagination_render(trainings)}}
				</div> #}{% endblock %}
