{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

<div class="container-fluid mb-3">
	<a href="{{ path('home_admin_index') }}">
		<button type="submit" class="btn btn-danger btn-sm rounded">
			<i class="fas fa-caret-left"></i>
			Retour
		</button>
	</a>
</div>

<div class="card primary" style="max-width: 50rem;">
	<div class="card-header d-flex justify-content-between">
		<h1 style="margin-top: 40px">
			<strong>{{ user.prenom|capitalize }}
				{{ user.nom|upper }}</strong>
		</h1>
	</div>
	<div class="card-body" style="margin-top:-20px">

		<table class="table">
			<tbody>
				<tr>
					{# Si la route est "user_show on affiche les images #}
					{# {% if app.request.attributes.get('_route') == 'user_show' %} #}
						{% for image in user.images %}
							<div>
						<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150"> </div>
					{% endfor %}
					{# {% endif %} #}
				</tr>
				<tr>
					<th>Référence client</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>
						<strong>{{ user.email }}</strong>
					</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>
						<strong>{{ user.nom|upper }}</strong>
					</td>
				</tr>
				<tr>
					<th>Prenom</th>
					<td>
						<strong>{{ user.prenom|capitalize }}</strong>
					</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>
						<strong>{{ user.adresse }}</strong>
					</td>
				</tr>
				<tr>
					<th>Telephone</th>
					<td>
						<strong>{{ user.telephone }}</strong>
					</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					<td>
						<strong>{{ user.DateDeNaissance ? user.DateDeNaissance|date('d/m/Y') : '' }}</strong>
					</td>
				</tr>
				<tr>
					<th>Entraînements à venir</th>
					<td>
						{% for training in user.trainings %}
							<a href="{{ path('training_show',{id: training.id}) }}">
								<strong>{{ training.nom }}
								</a>
								le
								{{training.date ? training.date|date('d/m/Y H:i') : '' }}<br/></strong>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</td>
	</tr>
	{# <tr>
																																			<th>Crée le:</th>
																																			<td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
																																			</tr>
																																			<tr>
																																			<th>Modifié le:</th>
																																			<td>{{ user.updatedAt ? user.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
																																			</tr> #}
	{# <tr>
																																			<th>Roles</th>
																																			
																																			<td>
																																			<strong>
																																			{% for role in user.roles %}
																																			{% if role == 'ROLE_ADMIN' %}
																																			Administrateur
																																			{% endif %}
																																			
																																			{% if role == 'ROLE_COACH' %}
																																			Coach
																																			{% endif %}
																																			
																																			{% if role == 'ROLE_USER' %}
																																			Adhérent
																																			{% endif %}
																																			{% endfor %}
																																			</strong>
																																			</td>
																																			</tr> #}
</tbody></table></div></div>{% if is_granted('ROLE_ADMIN') %}<div class="container mb-3 mr-3 mt-3"></a><a href="{{ path('user_edit', {'id': user.id}) }}"><button type="submit" class="btn btn-info btn-sm rounded">
<i class="fas fa-edit"></i>Modifier</button></a></div><div class="container mt-3">{{ include('user/_delete_form.html.twig') }}</div>{% endif %}{% endblock %}
